body {
    padding:0;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:0;
    background-color: #ffe6de;
}

.Redirect {
    width: 240px;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: white;
    position:absolute;
    left: -350px;
    top:0px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.Menu {
    display: flex;
    gap: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 12px;
}   

.Left {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.item {
    background-color: cadetblue;
    padding: 0.2rem;
    cursor: pointer;
    
}

.item:hover {
    background-color:aqua;
}


.Right>div {
    /* background-color: red; */
    color:blue;
}

.itemSelected {
    background-color: #8bdede;
    padding: 0.2rem;
    cursor: pointer;
}